# Nextflow runtime
.work/
work/
.nextflow*
trace.txt
timeline.html
report.html

# Additional results 
results/fastqc/
results/trimmomatic/
results/bwa/
results/bam/
results/vcf/


trimmomatic_user.sif

# Python/OS noise
__pycache__/
.DS_Store
Thumbs.db
.work/
data/
*.sif
*.pdf

